<h1>Players</h1>
<input type="button" value="Добавить" class="btn btn-default" (click)="add()" />
<table *ngIf="tableMode; else create" class="table table-striped">
  <thead>
    <tr>
      <td>Имя</td>
      <td>Фамилия</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of players">
      <ng-template [ngIf]="player != p" [ngIfElse]="edit">
        <td>{{p?.firstName}}</td>
        <td>{{p?.lastName}}</td>
        <td>
          <button class="btn btn-sm btn-primary" (click)="editPlayer(p)">Изменить</button>
          <button class="btn btn-sm btn-danger" (click)="delete(p)">Удалить</button>
        </td>
      </ng-template>
    </tr>
  </tbody>
</table>

<!--шаблон для редактирования-->
<ng-template #edit>
  <td>
    <input type="text" [(ngModel)]="player.firstName" class="form-control" />
  </td>
  <td>
    <input type="text" [(ngModel)]="player.lastName" class="form-control" />
  </td>
  <td>
    <input type="button" value="Сохранить" (click)="update()" class="btn btn-sm btn-success" />
    <input type="button" value="Отмена" (click)="cancel()" class="btn btn-sm btn-warning" />
  </td>
</ng-template>

<!--шаблон для добавления-->
<ng-template #create>
  <div class="form-group">
    <label>Имя</label>
    <input type="text" [(ngModel)]="player.firstName" class="form-control" />
  </div>
  <div class="form-group">
    <label>Фамилия</label>
    <input type="text" [(ngModel)]="player.lastName" class="form-control" />
  </div>
  <div>
    <input type="button" value="Сохранить" (click)="create()" class="btn btn-success" />
    <input type="button" value="Отмена" (click)="cancel()" class="btn btn-warning" />
  </div>
</ng-template>
